body{
    background-color: rgb(135, 135, 199);
    text-align: center;
}
.container{
    width: 100%;
    height: 30%;
   display: flex;
   justify-content: center;
   text-align: center;
   gap: 5px
}
input{
    width: 100%;
    height: 30%;
}
.enfant{
    width: 15%;
    padding: 10px;

}
.btn{
    width: 5%;
    margin-top: 3%;
    
}